@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

$bluish: #f6f9fc;
$blackish: #070707;
$greyish: #58595a;
$lightgrey: #dde0e2;

*, html {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px)
{
  .container {
      max-width: 960px;
  }
  .wrapper {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}

.up {
  border-radius: 50%;
  background-color: $blackish;
  padding: 10px;
  color: #fff;
}

.z-index {
  z-index: 1;
}

header {
  padding: 50px 0 0 0;
  // ul {
  //   position: fixed;
  //   background-color: $bluish;
  //   z-index: 1
  // }
  li {
    align-self: center;
  }
  ul li a {
    span {
      color: $greyish;
      &:hover {
        color: $blackish;
        border-bottom: 1px solid $blackish;
        padding-bottom: 10px;
        transition: .2s;
      }
    }
  }
}

h1 {
  font-size: 2.875rem;
  font-weight: 900;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
  font-weight: 900;
}

section {
  margin-bottom: 4rem;
}

section.hero {
  margin-bottom: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    margin-bottom: 50px;
  }
  h2 {
    font-weight: 100;
  }
}


.exp, .craft, .contact {
  h1 {
    margin-bottom: 3.75rem;
  }
}

.exp {
  h3 {
    text-transform: capitalize;
    margin: 0;
    font-weight: 700;
  }
  p {
    font-weight: 900;
    color: $greyish;
    text-transform: uppercase;
    letter-spacing: 3px;
    &.date {
      font-size: .75rem;
      margin-bottom: 2rem;
    }
    &.company {
      font-size: 1rem;
    }
  }
  hr {
    margin-bottom: 2rem;
  }
}

.craft {
 .card {
   height: 200px;
   line-height: 200px;
   margin-bottom: 20px;
   border: 0;
   border-radius: 0;
   background-color: #f0f0f0;
  //  & :hover {
  //    background-color: red;
  //  }
 }
 .modal-content {
   border: none;
   border-radius: 0;
   margin: 0;
 }
 .modal-dialog { 
    max-width: 100%;
    margin: 0;
  }
  #exampleModal1 {
    padding-right: 0 !important;
  } 
}


.contact {
  h2 {
    font-weight: 100;
  }
  .contacts {
    font-weight: 400;
    font-size: 16px;
    padding-top: 50px; 
    line-height: 2;
  }
}

.contact, .footer {
  ul li {
    list-style-type: none;
  }
}

.footer {
  ul li {
    display: inline;
    padding-right: 10px;
  }
  ul li a {
    color: $greyish;
    text-decoration: none !important;
    :hover {
      text-decoration: none !important;
      color: $blackish;
      outline: none;
      transition: .2s;
    }
  }
  
  
}
body {
    margin: 0;
    padding: 0;
    background-color: $bluish;
  }
  